/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url('F:/Aventage-Assignment/Question2/clinic-app/src/components/pngtree-heartbeat-electrocardiogram-biochemistry-aerobic-health-care-light-effect-abstract-geometric-health-image_743372.jpg');
} */